 
body {
   max-width: 1200px;
   margin: 0 auto;
   border: 1px solid black;
   display: grid;
   justify-items: center;
}
header {
  display: grid;
  justify-items: center;
  align-items: center;
}
 .pongHistoryDisplay {
    height: 400px;
    width: 1000px;
    overflow: auto;
}

 .gameBoard {
   width: 1000px;
   height: 750px;
   background-color: rgba(0, 0, 0, .5);
}

 .menu {
  position: relative;
}
 .menuBtns {
  position: absolute;
  display: grid;
  grid-gap: 1rem;
  top: 45%;
  left: 45%;
  right: 45%;
}

 #settings {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
 #settings label {
  justify-self: end;
}
 #settings h2 {
  grid-column: 1 / -1;
  justify-self: center;
}




 .hide {
  display: none;
}